@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: italic;

    font-size: 26px;

    margin: 0;
    background-color: #9471A5;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome__title {
    color: #fff;
    margin-bottom: 50px;
}

.welcome__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#exit {
    color: black;
    cursor: pointer;
}

#start {
    color: green;
    cursor: pointer;
}

.welcome__icon {
    width: 150px;
}